html {
	font-family: Didot, serif;
	background: url(http://www.pxleyes.com/images/contests/film-noir-2/fullsize/The-contract----510061f48746e_hires.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#leftWrapper {
	width: 350px;
	height: 100%;
	position: relative;
	float: left;
	margin: 0 auto;
}

#paint {
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: 0;
	opacity: 0.95;
}

#pulpDiction img {
	position: absolute;
	width: 120%;
	height: auto;
	left: -50px;
	margin-top: 20px;
}

#description {
	position: relative;
	width: 75%;
	margin: 0 auto;
	color: white;
	margin-top: 200px;
	font-style: italic;
	letter-spacing: 2px;
}

#titleMe {
	position: relative;
	display: inline-block;
	background-color: white;
	border: 5px solid black;
	margin-top: 180px;
	margin-left: 10px;
	width: 40%;
	height: 80px;
	cursor: pointer;

}

#titleMe p {
	text-align: center;
	margin-top: 14px;
	font-size: 1.4em;
}

#coverMe {
	position: relative;
	display: inline-block;
	background-color: white;
	border: 5px solid black;
	margin-top: 50px;
	margin-left: 10px;
	width: 40%;
	height: 80px;
	cursor: pointer;
}

#coverMe p {
	text-align: center;
	margin-top: 14px;
	font-size: 1.4em;
}

#mainWrapper {
	display: block;
	float: left;
	margin-left: 50px;
	width: 800px;
	height: 100%;
}

#bookCover {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

#wordsWrapper {
	position: relative;
	top: -680px;
	left: 30px;

}

.titleText {
/*	display: block;*/
	font-size: 6em;
	/*text-transform: uppercase;*/
	color: #fe0000;
	font-style: italic;
	cursor: pointer;
	z-index: 0;
	line-height: 98%;
}

.black {
	color: black !important; 
}

.hcdetails {
	z-index: 1000;
	position: relative;
	top: 100px;
	left: 100px;
}

#defOne {
	display: none;
	position: absolute;
	width: 300px;
	height: 100%;
	background-color: white;
	padding: 5px;
	z-index: 1000;
}

#defTwo {
	display: none;
	position: absolute;
	width: 300px;
	height: 100%;
	background-color: white;
	padding: 5px;
	z-index: 1000;
}

